@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--body-font);
  /* scroll-behavior: smooth; */
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: calc(3rem - 1px);
  color: var(--dark-color)
}

a:-webkit-any-link {
  text-decoration: none;
}

:root {
  --dark-color: #052C51;
  --bright-color-transparent: #018fd180;
  --bright-color: #018FD1;
  --light-color: #f4f1ed;
  --body-font: "Manrope", "Roboto", sans-serif;
  --side-margin: max(2rem, 10%);
  --bottom-margin: 0.5rem;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-inset: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  :root{
    --side-margin: 1rem;
  }
}

.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

section {
  padding: 0 var(--side-margin) 0 var(--side-margin);
  scroll-snap-align: start;
}

strong {
  font-weight: 800;
}

h2{
  font-weight: 300;
}

/* ---------------------HEADER--------------------- */

header {
  position: fixed;
  top: 0;
  height: fit-content;
  z-index: 1;
  width: 100%;
}

.mainHeaderLine {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: "";
  transition: height 0.5s ease;
  transition: background-color 0.5s ease;
  z-index: 1;
}

.mainHeaderLine nav {
  display: flex;
  width: calc(100vw - var(--side-margin) - var(--side-margin));
  justify-content: space-between;
}

.mainHeaderLine ul {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;

  font-weight: 200;
  line-height: 1.57rem;
  list-style-type: none;
}

header h1 {
  grid-column-start: 1;
  color: white;
  font-weight: 100;
}

header a {
  color: white;
}

.smallNavCat {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--bright-color-transparent);
  user-select: none;
}

.smallNavCat li {
  font-weight: 200;
  line-height: 2rem;
  padding: 0.5rem 1.5rem 1rem 0;
}

.blacknav {
  background-color: var(--bright-color);
  height: 3rem;
}

header li {
  border-bottom: 1px solid transparent;
}

header a:hover {
  color: rgba(255, 255, 255, 0.685);
}

header .linkedin{
  border: white 2px solid;
  border-radius: 2px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .linkedin:hover{
  border: rgba(255, 255, 255, 0.685) 2px solid;
}

header .linkedin:hover a{
  color: rgba(255, 255, 255, 0.685);
}

header .linkedin a{
  height: 1rem;
  overflow: hidden;
}

.active {
  border-bottom: 1px solid white;
}

#burgerIcon {
  color: white;
  font-size: 1.5rem;
  align-self: center;
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  #burgerIcon {
    display: none;
  }

  .smallNavCat {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #bigNavCat {
    display: none;
  }
}

/* --------------------------Buttons--------------------------- */
/* .button {
  background-color: white;
  color: var(--dark-color);
  display: block;
  width: fit-content;
  border: var(--dark-color) 2px solid;
  padding: 0.8rem 1.5rem;
  margin: 0rem auto;
  user-select: none;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  box-shadow: var(--box-shadow);
}

.button:hover {
  background-color: var(--dark-color);
  color: white;
  box-shadow: inset 0 0 0 2px white, var(--box-shadow);
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
} */

.btn{
  padding: 0.5rem 1rem;
  border: var(--bright-color) 2px solid;
  color: white;
  background-color: var(--bright-color);
  display: block;
  width: fit-content;
  border-radius: .25rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  margin: .5rem;
}

.btn p{
  font-weight: 600;
  font-size: 1rem;

}

.btn:hover p{
  font-weight: 900;
}

.btn.secondary{
  border: var(--bright-color) 2px solid;
  color: var(--bright-color);
  background-color: white;
}

.flex{
  display: flex;
}

/* ------------------------Sections------------------------- */
section:not(:last-of-type) {
  margin-bottom: 96px;
}

section {
  scroll-margin-top: 10rem;
  scroll-snap-type: x proximity;
  padding: 4rem var(--side-margin);
}

section h2{
  font-size: 2rem;
}

section#hero {
  background: linear-gradient(231.19deg, #018FD1 46.08%, rgba(1, 143, 209, 0) 159.25%);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
  height: 100vh;
  max-height: 800px;
  position: relative;

}

section#hero .divider{
  height: 1px;
  min-width: 80%;
  max-width: 400px;
  background-color: white;
  margin: 1rem 0;
}

section#hero .text {
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 100;
}

section#hero .text h1 {
  font-size: 2.5rem;
  font-weight: 100;
}

section#hero .text p {
  font-size: 1.5rem;
  line-height: 2rem;
}

section#hero .text p:last-of-type {
  font-size: 1rem;
  line-height: 2rem;
}

section#hero .text p:first-of-type {
  display: flex;
  flex-direction: column;
}

section#hero .img-me {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 18rem;
}

@media only screen and (min-width: 600px) {
  section#hero .text p:first-of-type {
    display: block
  }
}

@media only screen and (min-width: 900px) {
  section#hero .text {
    padding-bottom: 0rem;
  }
  
  section#hero .img-me {
    height: 22rem;
  }
}

@media only screen and (min-width: 1500px) {
  section#hero .img-me {
    height: 28rem;
  }
}

/* -------------techstack */

section#techstack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: var(--dark-color);
  color: white;
}

section#techstack .tech-flex {
  width: 300px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat( auto-fit, 3rem);
  justify-content: center;
  gap: 2rem;
}

section#techstack .tech-flex img{
  height: 100%;
  width: 100%;
}

/* -------------project */

section#projects{
  text-align: center;
}

section#projects h2{
  margin-bottom: 2rem;
}


section#projects .project-wrapper {
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: .5rem .5rem 1.5rem .5rem;
  padding-bottom: 1rem;
}

section#projects .project-wrapper:last-of-type {
grid-column: span 2;
}

section#projects .project-wrapper .project-text,
section#projects .project-wrapper .project-buttons {
  padding: 0 1rem 1rem 1rem
}

section#projects .project-wrapper .project-text{
  line-height: 2rem;
}

section#projects .project-wrapper .project-text h3{
  font-size: 1.5rem;
}

section#projects .project-wrapper .project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

section#projects .project-wrapper .project-img {
  background-color: white;
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-position: top center;
  margin-bottom: 1rem;
  transition: .5s;
}

section#projects .project-wrapper.trump .project-img {
  background-image: url(img/trump_Moment.jpg);
}

section#projects .project-wrapper.trump:hover .project-img {
  background: var(--bright-color);
}

section#projects .project-wrapper.trump:hover video {
  display: block !important ;
  width: 100%;
  height: 100%;
}

section#projects .project-wrapper.momondo .project-img {
  background-image: url(img/momondo1.PNG);
  background-position: top left;
}

section#projects .project-wrapper.momondo:hover .project-img {
  background-image: url(img/momondo3.PNG);
  background-position: top left;
}

section#projects .project-wrapper.sushi .project-img {
  background-image: url(img/nishikisushi.PNG);
  transition: .5s;
}

section#projects .project-wrapper.sushi:hover .project-img {
  background-image: url(img/nishikisushi2.PNG);
}

@media only screen and (min-width: 900px) {
  section#projects #projects-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-flow: dense;
    align-items: center;
    justify-content: center;
    margin: .5rem  
  }
  section#projects #projects-wrapper .project-wrapper{
    margin: .5rem;
  }
}

/* -------------contact */

section#contact {
  background-color: white;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem var(--side-margin) 4rem var(--side-margin);
}

section#contact .contact-illustration {
  width: max(30%, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

section#contact .contact-illustration img {
  width: 100%;
}

section#contact h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

section#contact .flex{
  justify-content: center;
  margin-top: 2rem;
}

#fatlink1 {
  font-weight: 800;
  color: var(--dark-color);
}

#fatlink2 {
  font-weight: 800;
  color: var(--dark-color);
}


/* -----------------------Footer------------------------- */

footer {
  background-color: var(--dark-color);
  width: 100vw;
  padding: 3rem 0 4rem 0;
  color: white;
  text-align: center;
}

#footerSoMe {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.someicon {
  background-color: var(--bright-color);
  width: 3rem;
  height: 3rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.someicon:hover i {
  transform: scale(1.3);
}

.someicon i {
  color: white;
  font-size: 1.2rem;
}

/* -----------------------Modal------------------------- */

#modal {
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0; 
  background: hsla(209, 88%, 17%, 0.5);
  z-index: 2;
  padding: 0;
}

#modal .modal__content{
  position: relative;
  height: fit-content;
  padding: 4rem 2rem;
  max-width: 1200px;
  background: white;
  z-index: 3;
  border-radius: .5rem;
  margin: 3rem 2rem;
}

#modal .modal__closeBtn{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  transition: 1s;
}

#modal .modal__closeBtn:hover .cross{
  transform: rotate(90deg);
  transform-origin: center;
}

#modal .modal__image,
#modal .modal__video {
  width: 100%;
  grid-area: 1/1;
  border-radius: .5rem;
}

#modal .modal__video {
margin-top: 3rem;
}

#modal .modal__text {
  width: 100%;
  height: 100%;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem 0 ;
}

#modal h2 {
  font-size: 2rem;
  font-weight: 800;
}

#modal .modal__text__tagline{
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

#modal .project-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

#modal .project-buttons a{
  margin-left: 0;
}

#modal li {
  padding-left: .2rem;
  list-style-position: inside;
}

#modal .secondaryUl li{
  padding-left: 2rem;
  list-style-position: inside;
}

#modal .secondaryUl{
  padding-bottom: .5rem;
}

#modal .modal__text__links p{
  width: fit-content;
  color: var(--bright-color);
  border-bottom: 1px solid var(--bright-color); 
}

#modal .modal__text__links {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

@media only screen and (min-width: 900px) {
  #modal .modal__content > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  #modal .modal__text,
  #modal .modal__video {
    margin: unset;
  }
}

.hidden {
  display: none !important;
  pointer-events: none;
}