@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--body-font);
}

a:-webkit-any-link {
  text-decoration: none;
}

:root {
  --dark-color: #5c6651;
  --dark-color-transparent: #5c6651af;
  --bright-color: #d8e0af;
  --light-color: #f4f1ed;
  --body-font: "Manrope", "Roboto", sans-serif;
  --side-margin: max(2rem, 10%);
  --bottom-margin: 0.5rem;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-inset: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

section {
  padding: 0 var(--side-margin) 0 var(--side-margin);
}

/* ---------------------HEADER--------------------- */

header {
  position: fixed;
  top: 0;
  height: fit-content;
  z-index: 5;
}

.mainHeaderLine {
  width: calc(100vw - 17px);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: "";
  transition: height 0.5s ease;
  transition: background-color 0.5s ease;
  z-index: 5;
}

.mainHeaderLine nav {
  display: flex;
  width: calc(100vw - var(--side-margin));
  justify-content: space-between;
}

.mainHeaderLine ul {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;

  font-weight: 200;
  line-height: 1.57rem;
  list-style-type: none;
}

header h1 {
  grid-column-start: 1;
  color: white;
}

header h1 span {
  font-weight: 100;
}

header a {
  color: white;
}

.smallNavCat {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--dark-color-transparent);
  user-select: none;
}

.smallNavCat li {
  font-weight: 200;
  line-height: 2rem;
  padding: 0.5rem 1.5rem 1rem 0;
}

.blacknav {
  background-color: var(--dark-color);
  height: 3rem;
  transition: 0.5s ease;
}

header li {
  border-bottom: 1px solid transparent;
}

header a:hover {
  color: rgba(255, 255, 255, 0.685);
}

.active {
  border-bottom: 1px solid white;
}

#burgerIcon {
  color: white;
  font-size: 1.5rem;
  align-self: center;
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  #burgerIcon {
    display: none;
  }

  .smallNavCat {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #bigNavCat {
    display: none;
  }

  /* .mainHeaderLine {
    width: 100vw;
  } */
}

/* --------------------------Buttons--------------------------- */
.button {
  background-color: white;
  color: var(--dark-color);
  display: block;
  width: fit-content;
  border: var(--dark-color) 2px solid;
  padding: 0.8rem 1.5rem;
  margin: 0rem auto;
  user-select: none;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  box-shadow: var(--box-shadow);
}

.button:hover {
  background-color: var(--dark-color);
  color: white;
  box-shadow: inset 0 0 0 2px white, var(--box-shadow);
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

/* ------------------------Sections------------------------- */
#hero {
  background-color: var(--dark-color);
  padding: 5rem;
}

#hero .fillercontent {
  height: 40vh;
  width: 100%;
}

#hero::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background-image: url("img/clouds-bottom-01.svg");
  filter: drop-shadow(rgba(0, 0, 0, 0.24) -4px -3px 2px);
  width: 100vw;
  height: 5rem;
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: contain;
}

#about-me::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100vw;
  height: 5rem;
  background-image: url("img/clouds-top-01.svg");
  filter: drop-shadow(rgba(0, 0, 0, 0.24) -4px -3px 2px);
  transform: translateY(-5rem);
  background-repeat: repeat-x;
  background-position: bottom center;
  background-size: contain;
  /* animation: ani-clouds 4s infinite alternate-reverse; */
}

@keyframes ani-clouds {
  from {
    transform: translate(0, -5rem);
  }
  to {
    transform: translate(100%, -5rem);
  }
}

#about-me {
  background-color: white;
  height: 50vh;
}

#skill-overview {
  background-color: grey;
  height: 50vh;
}
#resume {
  background-color: var(--light-color);
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
/* -----------------/Projects */
#projects {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#projects h2 {
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

#project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}

.img-wrap {
  margin: 0 auto;
  display: block;
  height: 300px;
  width: 100%;
  background-color: white;
}

.img {
  box-shadow: var(--box-shadow-inset);
  width: 100%;
  height: 100%;
  background-image: "";
  background-position: top center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.details {
  position: absolute;
  color: #fff;
  width: 99%;
  height: 45px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5%;
  border-radius: 5px;
  background-color: var(--dark-color);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateY(305px);
  transition: 1s ease;
}

.img-wrap:hover .details {
  transform: translateY(260px);
  transition: 1s ease;
}

.details h3 {
  margin-right: 1rem;
  font-size: 1rem;
  text-align: right;
}

.details .readmore {
  margin-left: 1rem;
  color: white;
  user-select: none;
  cursor: pointer;
}

.details .readmore span {
  font-weight: 900;
}

.details .readmore:hover {
  color: rgba(255, 255, 255, 0.685);
}

/* --------------modal */
#modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  z-index: 6;
}

#modal-flex {
  position: relative;
  width: min(600px, calc(100vw - var(--side-margin)));
  height: fit-content;
  background-color: white;
  padding: 2rem;
  margin: 2rem 0;
  box-shadow: var(--box-shadow);
}

#modal-image {
  display: block;
  width: 100%;
  margin: 1rem auto;
  box-shadow: var(--box-shadow);
}

#modal-title,
#modal-date {
  text-align: center;
}

#modal-description {
  width: 90%;
}

#modal-buttons {
  width: fit-content;
  display: flex;
  margin: 2rem auto 1rem auto;
  gap: 2rem;
}

#modal-flex i {
  position: absolute;
  color: var(--dark-color);
  right: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#modal-flex i:hover {
  animation: cross 8s infinite linear;
  color: var(--dark-color-transparent);
  transform: scale(1.1);
}

@keyframes cross {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------contact */

#contact {
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 2rem var(--side-margin) 4rem var(--side-margin);
}

.contact-illustration {
  width: 30%;
  height: 10rem;
  background-color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact h2 {
  margin-bottom: 1rem;
}

#fatlink1 {
  font-weight: 900;
  color: var(--dark-color);
}

#fatlink2 {
  font-weight: 900;
  color: var(--dark-color);
}

/* -----------------------Footer------------------------- */

footer {
  background-color: var(--dark-color);
  width: 100vw;
  padding: 0 0 2rem 0;
  color: white;
  text-align: center;
}

#footerSoMe {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.someicon {
  background-color: var(--bright-color);
  width: 3rem;
  height: 3rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.someicon:hover i {
  transform: scale(1.3);
}

.someicon i {
  color: var(--dark-color);
  font-size: 1.2rem;
}

.hidden {
  display: none;
  pointer-events: none;
}

footer::before {
  content: "";
  display: block;
  background-color: white;
  background-image: url("img/skylinetest-01.svg");
  background-position: bottom center;
  height: 8rem;
  width: 100%;
  margin-bottom: 2rem;
}
