@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--body-font);
}

a:-webkit-any-link {
  text-decoration: none;
}

:root {
  --dark-color: #052C51;
  --dark-color-transparent: #5c6651af;
  --bright-color: #018FD1;
  --light-color: #f4f1ed;
  --body-font: "Manrope", "Roboto", sans-serif;
  --side-margin: max(2rem, 10%);
  --bottom-margin: 0.5rem;
  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-inset: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.no-scroll {
  height: 100vh;
  overflow-y: hidden;
}

section {
  padding: 0 var(--side-margin) 0 var(--side-margin);
}

/* ---------------------HEADER--------------------- */

header {
  position: fixed;
  top: 0;
  height: fit-content;
  z-index: 5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.mainHeaderLine {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bright-color);
  transition: height 0.5s ease;
  transition: background-color 0.5s ease;
  z-index: 5;
}

.mainHeaderLine nav {
  display: flex;
  width: calc(100vw - var(--side-margin));
  justify-content: space-between;
}

.mainHeaderLine ul {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;

  font-weight: 200;
  line-height: 1.57rem;
  list-style-type: none;
}

header h1 {
  grid-column-start: 1;
  color: white;
}

header h1 span {
  font-weight: 100;
}

header a {
  color: white;
}

.smallNavCat {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--dark-color-transparent);
  user-select: none;
}

.smallNavCat li {
  font-weight: 200;
  line-height: 2rem;
  padding: 0.5rem 1.5rem 1rem 0;
}

.blacknav {
  background-color: var(--bright-color);
  height: 3rem;
  transition: 0.5s ease;
}

header li {
  border-bottom: 1px solid transparent;
}

header a:hover {
  color: rgba(255, 255, 255, 0.685);
}

header .linkedin{
  border: white 2px solid;
  border-radius: 2px;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .linkedin:hover{
  border: rgba(255, 255, 255, 0.685) 2px solid;
}

header .linkedin:hover a{
  color: rgba(255, 255, 255, 0.685);
}

header .linkedin a{
  height: 1rem;
  overflow: hidden;
}

.active {
  border-bottom: 1px solid white;
}

#burgerIcon {
  color: white;
  font-size: 1.5rem;
  align-self: center;
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  #burgerIcon {
    display: none;
  }

  .smallNavCat {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  #bigNavCat {
    display: none;
  }

  /* .mainHeaderLine {
    width: 100vw;
  } */
}

/* --------------------------Buttons--------------------------- */
/* .button {
  background-color: white;
  color: var(--dark-color);
  display: block;
  width: fit-content;
  border: var(--dark-color) 2px solid;
  padding: 0.8rem 1.5rem;
  margin: 0rem auto;
  user-select: none;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  box-shadow: var(--box-shadow);
}

.button:hover {
  background-color: var(--dark-color);
  color: white;
  box-shadow: inset 0 0 0 2px white, var(--box-shadow);
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
} */

.btn{
  padding: 0.5rem 1rem;
  border: var(--bright-color) 2px solid;
  color: white;
  background-color: var(--bright-color);
  display: block;
  width: fit-content;
  border-radius: .25rem;
}

.btn p{
  font-weight: 600;
  font-size: 1rem;

}

.btn:hover p{
  font-weight: 900;
}

.btn.secondary{
  border: var(--bright-color) 2px solid;
  color: var(--bright-color);
  background-color: white;
}

.flex{
  display: flex;
}

/* ------------------------Sections------------------------- */
#hero {
  background-color: var(--bright-color);
  padding: 5rem;
}

/* -------------contact */

#contact {
  background-color: white;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding: 2rem var(--side-margin) 4rem var(--side-margin);
}

.contact-illustration {
  width: max(30%, 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-illustration img {
  width: 100%;
}

#contact h2 {
  margin-bottom: 1rem;
}

#fatlink1 {
  font-weight: 900;
  color: var(--dark-color);
}

#fatlink2 {
  font-weight: 900;
  color: var(--dark-color);
}

#contact .flex{
  gap: .5rem;
  justify-content: center;
  margin-top: 2rem;
}

/* -----------------------Footer------------------------- */

footer {
  background-color: var(--dark-color);
  width: 100vw;
  padding: 3rem 0 4rem 0;
  color: white;
  text-align: center;
}

#footerSoMe {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.someicon {
  background-color: var(--bright-color);
  width: 3rem;
  height: 3rem;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}

.someicon:hover i {
  transform: scale(1.3);
}

.someicon i {
  color: white;
  font-size: 1.2rem;
}

.hidden {
  display: none;
  pointer-events: none;
}
